*{
    box-sizing: border-box;
    margin: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    list-style: none;
    font-size: 100%;
}

header{
    z-index: 2;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    position: fixed;
    background: #FFFFFF;
}

.hidden-bar{
    display: none;
    position: fixed;
    left: 0;
    height: 8vh;
    width: 8vh;
    background: #9767A9;
    font-family: Montserrat;
}

.hidden-bar hr{
    border: solid 1px #FFFFFF;
    width: 50%;
}

.hidden-bar:hover ul{
    display: block;
}

.hidden-bar ul{
    display: none;
    position: fixed;
    top: 8vh;
    left: -45px;
    animation: 250ms show-bar forwards;
}

@keyframes show-bar{
    0% {
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0%)
    }
}

.hidden-bar li{
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem 0.75rem 2rem;
    margin: 1px 0px 0px 0px;
    background: #9767A9;
    background: hsl(284, 28%, 53%,0.9);
    width: 110%;
}

.hidden-bar li:hover{
    background: hsl(276, 22%, 66%)
}

.logoTodeCacho{
    width: auto;
    height: 60%;
}

.left-bar{
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.left-bar li{
    color: #9767A9;
    font-weight: 600;
}

.left-bar li:hover{
    cursor: pointer;
    font-weight: 900;
}

.right-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.search{
    height: 3vh;
    border-radius: 50px;
    border: solid 3px #9767A9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.search input{
    width: 70%;
    border: 0px;
    outline: none;
}

.search img{
    height: auto;
}

.social-medias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.social-medias img:hover{
    cursor: pointer;
    opacity: 0.7;
}

main{
    z-index: 1;
    position: relative;
    top: 8vh;
    width: 100%;
}

.bigblackpower{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-around;
}

.bighair{   
    background: url("/assets/cabeludo.png");
    background-size: cover;    
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hands{
    display: flex;
    align-items: center;
    height: 30%;
    width: 35%;
}

.hands h2{
    text-align: left;
    width: 50%;   
    font-family: Playfair Display;
    font-size: 4rem;
    color: #FFFFFF;
}

.hands p{
    text-align: left; 
    width: 80%;   
    font-family: Montserrat;
    font-size:3rem;
    color: #FFFFFF;
}

.tips{
    background: #9767A9;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.tips h3{
    font-family: Playfair Display;
    font-size: 5rem;
    color: #FFFFFF;
    width: 45%;
    height: 90%;
}

.tips p{
    font-family: Montserrat;
    font-size: 1.80rem;
    color: #FFFFFF;
    width: 40%;
    height: 90%;
    padding: 1rem 0 5rem 0;
}

.book{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
}

.book img{
    width: 90%;
    max-width: 550px;
    height: 45vh;
}

.book h4{
    padding: 2rem;
    color: #FFFFFF;
    font-family: Playfair Display;
    font-size: 1.75rem;
}

.book p{
    padding: 0px 1.25rem 1.25rem 1.25rem;
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 1.25rem;
    white-space: pre-line;
}

.odd-page{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75vh;
}

.even-page{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75vh;
}

.last-page{
    position: relative;
    top: 15vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 25vh;
    width: 100%;
}

.last-page img{
    width: 70%;
    height: auto;
}

.pages{
    position: absolute;
    top: 42.5%;
    width: 60%;
    background: #9767A9;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .odd-page{
        position: relative;
        top: -5vh;
    }
    .even-page{
        position: relative;
        top: 25vh;
    }
    .last-page{
        position: relative;
        top: 25vh;
    }
   
}

@media only screen and (max-width: 1023px){
    .right-bar{
        display: none;
    }
    .odd-page{
        position: relative;
        top: 0;
    }
    .even-page{
        position: relative;
        top: 0;
    }
    .last-page{
        position: relative;
        top: -25vh;
    }
    .last-page img{
        width: 35%;
    }
    .pages{
        top: 40%;
    }

}

@media only screen and (max-width: 768px) {
    .left-bar{display: none;}
    .right-bar{display: none;}
    .tips{
        padding-left: 1rem;
        flex-direction: column;
    }
    .tips p{width: 100%;}
    .tips h3{width: 100%;}
    .book img{
        min-width: 320px;
        min-height: 175px;
    }   
    .hidden-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem 0rem 1.5rem 0rem;
    }
    .references{display: none;}
    .router{display: none !important;}
    .hidden-footer{display: flex !important;}
    footer{
        height: 20vh !important;
        background: #FFFFFF !important;
    }
    .bighair{flex-direction: column;}
    .hands{width: 80%;}  
    .pages{width: 80%;}
    .book{grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));}
}

@media only screen and (max-width: 425px){
    .pages{width: 100%;}
    .last-page{
        position: relative;
        top: -20vh;
    }

}

footer{
    z-index: 1;
    height: 8vh;
    background: #9767A9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat;
    color: #FFFFFF;
}

.hidden-footer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.hidden-routes{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden-copyright{
    width: 70%;
}

.references{
    white-space: pre-line;
}

.router{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.routes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.routes p{
    text-align: left;
    white-space: pre-line;
    font-size: 1.25rem;
}

#top-arrow{
    transform: rotate(90deg);
}

#next-arrow{
    transform: rotate(180deg);
}

.routes:hover{
    cursor: pointer;
    background:rgba(0, 0, 0, 0.5);
}

