*{
    box-sizing: border-box;
    margin: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    list-style: none;
    font-size: 100%;
}

header{
    z-index: 2;
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    position: fixed;
    background: #FFFFFF;
}

.logoTodeCacho{
    width: auto;
    height: 60%;
}

.left-bar{
    display: flex;
    gap: 5rem;
}

.left-bar li{
    color: #9767A9;
    font-size: 1.5rem;
    font-weight: 600;
}

.left-bar li:hover{
    cursor: pointer;
    font-weight: 900;
}

.right-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.search{
    height: 3vh;
    border-radius: 50px;
    border: solid 3px #9767A9;
    display: flex;
}

.search input{
    width: 75%;
    border: 0px;
    outline: none;
}

.social-medias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.social-medias img:hover{
    cursor: pointer;
    opacity: 0.7;
}

main{
    z-index: 1;
    position: relative;
    top: 8vh;
    width: 100%;
}

.bigblackpower{
    background: url("/assets/cabeludo.png");
    width: auto;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hands{
    display: flex;
    align-items: center;
    height: 30%;
    width: 30%;
}

.hands h2{
    text-align: left; 
    width: 50%;   
    font-family: Playfair Display;
    font-size: 6rem;
    color: #FFFFFF;
}

.hands p{
    text-align: left; 
    width: 70%;   
    font-family: Montserrat;
    font-size: 3rem;
    color: #FFFFFF;
}

.tips{
    height: 30vh;
    background: #9767A9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tips h3{
    font-family: Playfair Display;
    font-size: 5rem;
    color: #FFFFFF;
    width: 45%;
    height: 90%;
}

.tips p{
    font-family: Montserrat;
    font-size: 1.80rem;
    color: #FFFFFF;
    width: 30%;
    height: 90%;
}

.book{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    gap: 0 1rem;
}

.book img{
    width: auto;
    height: 60vh;
}

.odd-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    border: solid 1px red;
}

.even-page{
    height: 90vh;
    border: solid 1px red;
}

@media only screen and (min-width: 650px) {
    .odd-page{
        position: relative;
        top: -5vh;
    }
    .even-page{
        position: relative;
        top: 25vh;
    }

}